name: Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Installing Client Dependencies
        run: npm i
        working-directory: ./client

      - name: Installing Server Dependencies
        run: npm i
        working-directory: ./server

      - name: Build Client
        run: npm run build
        working-directory: ./client

      - name: Upload Client Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: client-build-artifact
          path: client/dist/
          if-no-files-found: warn
          retention-days: 1
